.card-img {
  height: 250px;
  width: 100%;
  padding: 20px;
  object-fit: contain;
  margin: auto;
}

.card-name {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-description {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  transition: all 0.1s ease-in-out;
}
.btn:active {
  scale: 0.98;
}

.util-image {
  height: 250px;
  width: 100%;
  padding: 20px;
  object-fit: contain;
  margin: auto;
}

.container {
  min-height: calc(100dvh - 152px);
}
